<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="avanti" translate="label" sortOrder="10">
            <label>Avanti</label>
        </tab>
        <section id="rewritemercadopago" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mercado Pago</label>
            <tab>avanti</tab>
            <resource>Avanti_RewriteMercadoPago::rewritemercadopago_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Credenciais</label>
                <field id="auth_token_region1" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token de autenticação (Região 1)</label>
                    <comment>Token de autenticação da conta do Mercado Pago.</comment>
                </field>
                <field id="auth_token_region2" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token de autenticação (Região 2)</label>
                    <comment>Token de autenticação da conta do Mercado Pago.</comment>
                </field>
                <field id="auth_token_region3" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token de autenticação (Região 3)</label>
                    <comment>Token de autenticação da conta do Mercado Pago.</comment>
                </field>
                <!-- <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Title</label>
                    <comment>This text will be used later.</comment>
                </field>
                <field id="custom_select" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select</label>
                    <source_model>Avanti\RewriteMercadoPago\Model\Select</source_model>
                </field> -->
            </group>
        </section>
    </system>
</config>